body{
    background-color: blue;
}
.TypesofEducation{
 background-color: red;
}
.Whyyoushouldgotoschool{
    background-color: darkorange;
}
.Research{
    background-color: gold;
}
.Schoolfacts{
    background-color: chartreuse;
}
.levelofeducationinmyschool{
    background-color: darkblue;
}